.profile-container {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.profile-left img {
    transition: transform 0.3s;
}

.profile-left img:hover {
    transform: scale(1.05);
}

.profile-right h2 {
    margin-top:0;
}

.profile-right ul li a:hover {
    text-decoration: underline;
}
